<div class="cont-form">
    
    <form [formGroup]="formularioUsuario" (ngSubmit)="agregarUsuario()">
        <div class="cont-inputs">
            <h1>Ingresa tu información</h1>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="nombre" placeholder="Ingresa tu nombre(s)*">
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('nombre')?.touched && formularioUsuario.get('nombre')?.errors?.['required']">El campo nombre es requerido</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('nombre')?.touched && formularioUsuario.get('nombre')?.errors?.['pattern']">Solo se permiten letras</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="apellido" placeholder="Ingresta tu apellido*">
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('apellido')?.touched && formularioUsuario.get('apellido')?.errors?.['required']">El campo apellido es requerido</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="telefono" placeholder="Ingresa tu número celular*">
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('telefono')?.touched && formularioUsuario.get('telefono')?.errors?.['required']">El campo teléfono es requerido</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('telefono')?.touched && formularioUsuario.get('telefono')?.errors?.['minlength']">El teléfono debe contener 10 dígitos</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('telefono')?.touched && formularioUsuario.get('telefono')?.errors?.['maxlength']">Máximo 10 dígitos</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('telefono')?.touched && formularioUsuario.get('telefono')?.errors?.['pattern']">Teléfono inválido</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control"  formControlName="edad" placeholder="Ingresa tu edad*">
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('edad')?.touched && formularioUsuario.get('edad')?.errors?.['required']">El campo edad es requerido</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('edad')?.touched && formularioUsuario.get('edad')?.errors?.['pattern']">Solo se adminten números</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('edad')?.touched && formularioUsuario.get('edad')?.errors?.['maxlength']">Edad inávilda</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('edad')?.touched && formularioUsuario.get('edad')?.errors?.['minlength']">Edad inávilda</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ingresa tu email*" formControlName="correo">
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['required']">El campo correo es requerido</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('correo')?.touched && formularioUsuario.get('correo')?.errors?.['pattern']">Correo inválido Ej: (mi.nombre@ejemplo.com)</small>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" formControlName="contrasena" placeholder="Ingresa una contraseña*">
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['required']">El campo contraseña es requerido</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['minlength']">La contrasena debe tener al menos 8 caracteres</small>
                <small class="form-text text-muted" *ngIf="formularioUsuario.get('contrasena')?.touched && formularioUsuario.get('contrasena')?.errors?.['pattern']">La contrasena debe tener al menos una mayúscula</small>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="formularioUsuario.invalid">Registrarse</button>
        </div>
    </form>
</div>